; EditorConfig to support per-solution formatting.
; Use the EditorConfig VS add-in to make this work.
; http://editorconfig.org/

; This is the default for the codeline.
root = true

[*]
end_of_line = CRLF

[*.{cs,txt,md}]
indent_style = tab
indent_size = 4

[*.{sln,proj,props,targets,xml,config,nuspec}]
indent_style = tab
indent_size = 4

[*.{csproj,resx}]
indent_style = space
indent_size = 2