bin
obj
artifacts
pack
TestResults
results
BenchmarkDotNet.Artifacts
/app
.vs
.vscode
.genaiscript
.idea
local.settings.json

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.metaproj
*.tmp
*.log
*.cache
*.binlog
*.zip
__azurite*.*
__*__

.nuget
*.lock.json
*.nuget.props
*.nuget.targets

node_modules
_site
.jekyll-metadata
.jekyll-cache
.sass-cache
Gemfile.lock
package-lock.json
