bin
app
obj
artifacts
pack
TestResults
.vs
.vscode
.idea

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.metaproj
*.tmp
*.log
*.cache
*.binlog
*.zip
__azurite*.*
__*__

.nuget
*.lock.json
*.nuget.props
*.nuget.targets

node_modules
_site
.jekyll-metadata
.jekyll-cache
Gemfile.lock
package-lock.json
