<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="GitInfo" version="1.1.15" targetFramework="net45" />
	<package id="xunit.runner.msbuild" version="2.1.0" targetFramework="net45" />
	<package id="xunit.runner.console" version="2.1.0" targetFramework="net45" />
	<package id="GitLink" version="2.2.0" targetFramework="net45" />
	<package id="OpenCover" version="4.6.166" targetFramework="net45" />
	<package id="coveralls.io" version="1.3.4" targetFramework="net45" />
	<package id="MSBuilder.CodeTaskAssembly" version="0.2.2" targetFramework="net45" />
</packages>