<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <languages>
    <language id="1033" codepage="65001" name="0x409 English (United States)" />
    <language id="2052" codepage="936" name="0x804 Chinese (PRC)" />
  </languages>

  <!-- {0}:projectName, {1}:defaultTopic, {2}:Language -->
  <hhpTemplate>
    <line>[OPTIONS]</line>
    <!--
    <line>Binary Index=No</line>
    -->
    <line>Compatibility=1.1 or later</line>
    <line>Compiled file={0}.chm</line>
    <line>Contents file={0}.hhc</line>
    <line>Index file={0}.hhk</line>
    <line>Default Topic={1}</line>
    <line>Full-text search=Yes</line>
    <line>Language={2}</line>
    <line>Title={0}</line>

    <line>[FILES]</line>
    <line>icons\*.gif</line>
    <line>art\*.gif</line>
    <line>media\*.gif</line>
    <line>scripts\*.js</line>
    <line>styles\*.css</line>
    <line>html\*.htm</line>
    <line>[INFOTYPES]</line>
  </hhpTemplate>
</configuration>